@import '/css/mediaQueries.css';
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Open+Sans+Condensed:300');

/***** PRIMARY SETUP *****/
body{font-size:12px; font-family:'Open Sans Condensed', sans-serif; color:#333;}
h1, h2, h3{font-family:'Josefin Slab', serif;}
h1{font-size:40px;}
h2{font-size:24px;}
h3{font-size:18px;}

a{color:teal;border-bottom:1px solid teal;background-color: transparent;}
a:hover{color:white;background-color:teal; animation: ease-in-ease-out 500ms;}
